@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .items-container > span {
    position: unset !important;
  }
  input[type="radio"]:checked + label span {
    background-color: #334f91;
    box-shadow: 0px 0px 0px 2px white inset;
  }

  input[type="radio"]:checked + label {
    color: #334f91;
  }

  /* input[type="radio"]:checked + div {
    background-color: #334f91;
  } */
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
